* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    // font sizes
    --fs-sm: 1.4rem;
    --fs-s: 1.6rem;
    --fs-m: 2.2rem;
    --fs-l: 2.5rem;
    --fs-xl: 4.4rem;
    --fs-xxl: 4.5rem;
    --fs-xxxl: 5.5rem;
    --fs-txt: 1.5rem;

    // font colors from radix.ui
    --fc-primary: #0D1514;
    --fc-primary-alpha: #00e8b246;
    --fc-secondary: #111C1B;
    --fc-normal: #0D2D2A;
    --fc-hover: #023B37;
    --fc-focus: #084843;
    --fc-header: #145750;
    --fc-st-border: #207E73;
    --fc-txt-l: #ADF0DD;
    --fc-txt-links: #0EB39E;
    --fc-btn-bg: #27B08B;
    --fc-txt-h: #18D8C1; 
    --fc-txt-m: #ADF0DD;

    // font weight 
    --fw-bold: 900;
    --fw-sm-bold: 700;
    --fw-s-bold: 500;
    --fw-normal: 400;
}

html {
    font-size: 15px;
    scroll-behavior: smooth;
}

h1 {
    font-size: var(--fs-l);
    font-weight: var(--fw-sm-bold);
    color: #fff;
}

.btn {
    display: block;
    margin: 20px 0;
    width: fit-content;
    border: 1px solid var(--fc-txt-l);
    padding: 10px 35px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: var(--fs-m);
    transition: background 400ms;

    &:hover {
        background: var(--fc-txt-l);
        color: var(--fc-primary);
    }
}

.display_initial {
    display: initial;
}

.btn2 {
    display: inline-block;
    background: var(--fc-txt-l);
    color: var(--fc-primary);
    font-weight: bold;
    cursor: pointer;
    font-size: var(--fs-s);
    padding: 8px 40px;
    
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


body {
    background-color: var(--fc-primary);
    color: #fff;    
}

.nav-links.show {
    position: absolute;
    top: 5rem;
    right: 0;
    background-color: var(--fc-secondary);
    width: 200px;
    padding: 20px;
}


header section,
.container {
    padding: 8px 10%;
}

#header {           
    & .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        position: fixed;
        top: 0;     
        left: 0;
        right: 0;
        padding: 2%;
        z-index: 10000;

        & .logo {
            font-size: var(--fs-l);
            & .first_letter {
                color: var(--fc-txt-h);
            }
        }

               
        & .button-3 {
            position: relative;
            padding: 1rem;
            border: none;
            height: 65px;
            width: 65px;
            background: transparent;
            top: 1.5rem;
            display: none;
    
            & .hamburger {
                position: absolute;
                top: -17px;
                left: -17px;
                width: 60px;
                height: 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 6px;
                cursor: pointer;
                transition: transform 300ms ease-in-out;

                & span {
                    background-color: var(--fc-btn-bg);
                    height: 4px;
                    width: 50%;
                    transition: all 500ms ease-in-out;
                }

                
            }
        }

        & .nav-list { 
            position: absolute;
            right: 0;

            &.show {
                display: block;
                position: absolute;
                top: 60px; /* ou ajustez selon vos besoins */
                right: 15px;
                background-color: var(--fc-secondary);
                padding: 10px;
                border-radius: 5px;
                width: 180px;
                
              }
            
            & li {
                display: inline-block;
                list-style-type: none;
                margin: 10px 20px;
                

                & a {
                    color: var(--fc-txt-m);
                    text-decoration: none;
                    font-size: var(--fs-sm);
                    position: relative;


                    &::after {
                        content: "";
                        width: 0;
                        height: 3px;
                        background-color: var(--fc-txt-links);
                        position: absolute;
                        left: 0;
                        bottom: -6px;
                        transition: all 399ms;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }

        
    }
    
    & .header-text {
        margin-top: 20%;
        font-size: var(--fs-txt);

        & h1 {
            font-size: var(--fs-xl);
            margin-top: 30px;
            & span {
                color: var(--fc-txt-h);
            }
        }
    }
}


// about me section 
#about {
    padding: 90px 0;

    & .row {

        & .about__container_row--col-1 {
            flex-basis: 35%;

            & img {
                width: 100%;
                border-radius: 15px;
            }
        }

        & .about__container_row--col-2 {
            flex-basis: 60%;

            & p {
                margin-top: 20px;
            }
            & .about__col-2-tab-titles {
                display: flex;
                margin: 20px 0 40px;

                & .tab_titles_tab-links {
                    margin-right: 50px;
                    font-size: var(--fs-sm);
                    font-weight: var(--fw-s-bold);
                    cursor: pointer;
                    position: relative;

                    &::after {
                        content: "";
                        width: 0;
                        height: 3px;
                        position: absolute;
                        left: 0;
                        bottom: -7px;
                        transition: 399ms;
                        background: var(--fc-txt-links);
                    }

                    &.active-link::after {
                        width: 50%;
                    }
                }
            }

            & .about__col-2-tab-contents {
                display: none;
                &.active-tab {
                    display: block;
                }
                ul {
                    li {
                        list-style-type: none;
                        margin: 10px 0;
                        & span {
                            font-size: var(--fs-sm);
                            color: var(--fc-txt-m);
                        }
                    }
                }
            }
        }


    }
}

// services 

#services {
    padding: 90px 0;
    & .container {

        & .services__container-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 40px;
            margin-top: 40px;

            & div {
                background: var(--fc-normal);
                padding: 40px;
                font-size: var(--fs-sm);
                font-weight: 300;
                border-radius: 10px;
                transition: background 399ms, transform 399ms;

                & i {
                    font-size: var(--fs-m);
                    margin-bottom: 30px;
                }

                & h2 {
                    font-size: var(--fs-m);
                    font-weight: var(--fw-s-bold);
                    margin-bottom: 15px;
                }

                & a {
                    text-decoration: none;
                    color: #fff;
                    font-size: var(--fs-sm);
                    margin-top: 20px;
                    display: inline-block;
                }

                &:hover {
                    background: var(--fc-hover);
                    transform: translateY(-10px);
                }
            }
        }
    }
}

// Portfolio

#portfolio {
    padding: 125px 0;
    & .work-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 40px;
        margin-top: 40px;

        & .work {
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            color: var(--fc-primary);
            width: 295px;
            & img {
                width: 100%;
                border-radius: 10px;
                display: block;
                transition: transform 499ms;
            }

            & .layer {
                width: 100%;
                height: 0;
                background: linear-gradient(var(--fc-primary-alpha), var(--fc-txt-l));
                border-radius: 10px;
                position: absolute;
                left: 0;
                bottom: 0;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0 40px;
                text-align: center; 
                font-size: var(--fs-sm);
                transition: height 500ms;

                & h3 {
                    font-weight: var(--fw-s-bold);
                    margin-bottom: 10px;
                }

                & a {
                    margin-top: 20px;
                    color: black;
                    font-size: var(--fs-m);
                    line-height: 60px;
                    background: #fff;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    text-align: center;
                }

                & p {
                    font-size: var(--fs-sm);
                    font-weight: var(--fw-s-bold);
                }
            }

            &:hover {
                & img { transform: scale(1.1); }
                & .layer { height: 100%; }
            }
        }
    }
}

// contact me


#contact {
    padding-top: 90px;
    & .row {
            & .contact-left {
                flex-basis: 35%;

                & p {
                    margin-top: 30px;
                    & i {
                        color: var(--fc-txt-l);
                        margin-right: 15px;
                        font-size: var(--fs-m);
                    }

                    & .whatsapp {
                        color: var(--fc-txt-links);

                        &:active {
                            color: var(--fc-txt-l);
                        }

                        &:focus {
                            color: var(--fc-txt-h);
                        }
                    }
                }

                & .social-icons {
                    margin-top: 30px;

                    & a {
                        text-decoration: none;
                        font-size: var(--fs-m);
                        color: var(--fc-txt-links);
                        display: inline-block;
                        transition: transform 400ms;
                        margin-left: 0;
                        &:hover {
                            color: var(--fc-txt-l);
                            transform: translateY(-5px);
                        }
                    }
                }
            }

            & .contact-right {
                flex-basis: 60%;

                & form {
                    width: 100%;

                    & input,
                    & textarea {
                        width: 100%;
                        border: 0;
                        outline: none;
                        background-color: var(--fc-secondary);
                        padding: 15px;
                        margin: 15px 0;
                        color: #fff;
                        border-radius: 6px;
                        font-size: var(--fs-sm);
                        resize: none;
                    }

                    & textarea {
                        &::-webkit-scrollbar {
                            width: 0;
                        }
                        
                    }

                    & .btn2 {
                        padding: 14px 60px;
                        font-size: var(--fs-sm);
                        margin-top: 20px;
                        cursor: pointer;
                        
                    }
                }
            }
        }
    
    & .copyright {
        padding: 20px 0;
        margin-top: 10px;
        text-align: center;
        background: var(--fc-secondary);
        }
    }
